<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>1.png</string>
	<key>1</key>
	<string>2.png</string>
	<key>2</key>
	<string>3.png</string>
	<key>3</key>
	<string>4.png</string>
	<key>4</key>
	<string>5.png</string>
	<key>5</key>
	<string>6.png</string>
	<key>6</key>
	<string>7.png</string>
	<key>7</key>
	<string>8.png</string>
	<key>8</key>
	<string>9.png</string>
	<key>9</key>
	<string>10.png</string>
</dict>
</plist>
