<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>1.png</string>
	<key>1</key>
	<string>2.png</string>
	<key>2</key>
	<string>3.png</string>
	<key>3</key>
	<string>4.png</string>
	<key>4</key>
	<string>5.png</string>
	<key>5</key>
	<string>sally.png</string>
	<key>6</key>
	<string>nikochan.png</string>
	<key>7</key>
	<string>tomatoman.png</string>
	<key>8</key>
	<string>misawa.png</string>
	<key>9</key>
	<string>browny.png</string>
	<key>10</key>
	<string>sally.png</string>
	<key>11</key>
	<string>nikochan.png</string>
	<key>12</key>
	<string>tomatoman.png</string>
	<key>13</key>
	<string>misawa.png</string>
	<key>14</key>
	<string>browny.png</string>
	<key>15</key>
	<string>sally.png</string>
	<key>16</key>
	<string>nikochan.png</string>
	<key>17</key>
	<string>tomatoman.png</string>
	<key>18</key>
	<string>misawa.png</string>
	<key>19</key>
	<string>browny.png</string>
	<key>20</key>
	<string>sally.png</string>
	<key>21</key>
	<string>nikochan.png</string>
	<key>22</key>
	<string>tomatoman.png</string>
	<key>23</key>
	<string>misawa.png</string>
	<key>24</key>
	<string>browny.png</string>
	<key>25</key>
	<string>sally.png</string>
	<key>26</key>
	<string>nikochan.png</string>
	<key>27</key>
	<string>tomatoman.png</string>
	<key>28</key>
	<string>misawa.png</string>
	<key>29</key>
	<string>browny.png</string>
	<key>30</key>
	<string>sally.png</string>
	<key>31</key>
	<string>nikochan.png</string>
	<key>32</key>
	<string>tomatoman.png</string>
	<key>33</key>
	<string>misawa.png</string>
	<key>34</key>
	<string>browny.png</string>
</dict>
</plist>
